*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    float: left;
    background-image: url(../img/fon.jpg);
    background-size: cover;
}
.header_bigbox{
    width: 100%;
    float: left;
    height: 650px;
}
.header_title{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.heder_mini_text_title{
    color:aliceblue;
     font-size: 25px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.header_bigbox_menu{
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
}
.header_menu1{
    color:aliceblue;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}
.header_menu2{
    color:aliceblue;
     font-size: 25px;
      text-decoration: none;
    cursor: pointer;
}
.header_menu3{
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
}
.header_menu1:hover{
    color: gray;
}
.header_menu2:hover{
    color: gray;
}
.header_menu3:hover{
    color: gray;
}
.main{
    width: 100%;
    float: left; 
}
.main_bigbix{
      width: 100%;
    float: left;
}
.main_title{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.main_text_big1{
    width: 100%;
    float: left;
    margin-top: 100px;
}
.main_text1{
           font-size: 35px;
    font-family: 'Oswald', sans-serif; 
    margin-bottom: 20px;
        display: flex;
    justify-content: center;
}
.main1_bigbox_foto{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    
}
.main_foto1{
    width: 100%;  
        display: flex;
    justify-content: center;
}
.main_foto2{
    width: 100%;  
        display: flex;
    justify-content: center;
}
.main_foto3{
    width: 100%;  
        display: flex;
    justify-content: center;
}
.main_foto4{
    width: 100%;  
        display: flex;
    justify-content: center;
}

.img1{
    width: 70%;
}
.img2{
    width: 70%;
}
.img3{
    width: 70%;
}
.img4{
    width: 70%;
}
.main_text_big2{
    width: 100%;
    float: left;
    margin-top: 100px;
}
.main_text2{
           font-size: 35px;
    font-family: 'Oswald', sans-serif; 
    margin-bottom: 20px;
        display: flex;
    justify-content: center;
    text-align: center;
}
.main2_foto2{
    width: 100%;
        display: flex;
    justify-content: center;
}
.img02{
    width: 40%;
}
.main_text_big3{
    width: 100%;
    float: left;
    margin-top: 100px;
}
.main_text3{
           font-size: 35px;
    font-family: 'Oswald', sans-serif; 
    margin-bottom: 20px;
        display: flex;
    justify-content: center;
}
.main3_foto3{
    width: 100%;
        display: flex;
    justify-content: center;
}
.img03{
    width: 40%;
}
.main_end{
            font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 100px;
}
.footer{
    width: 100%;
    float: left;
}
.footer_bigbox{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
     background: cornsilk;
}
.footer_mesages{
    width: 50%;
    height: 400px;
    background: cornsilk;
}
.footer_mesages_title{
        font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.footer_contact{
     width: 50%;
    height: 400px;
      background: cornsilk;

}
.footer_contact_title{
   font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.footer_img_big_box{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
      justify-content: space-around;
    margin-top: 100px;
}
.footer_img1{
}
.img1_footer{
      width: 100px;
    height: 100px;  
}
.footer_img2{
}
.img2_footer{
      width: 100px;
    height: 100px;  
}
.footer_big_text{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
}
.footer_contact_text1{
      font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.footer_contact_text2{
      font-size: 25px;
    font-family: 'Oswald', sans-serif;
     text-align: center;
}
.footer_contact_text3{
      font-size: 25px;
    font-family: 'Oswald', sans-serif;
     text-align: center;
}
@media (min-width:700px) and (max-width:1000px){
.main_title{
    font-size: 35px;
}
    .main_text1{
           font-size: 25px;

} 
    .main_text2{
           font-size: 25px;

} 
    .main_text3{
           font-size: 25px;
        text-align: center;

}
    .main_end{
           font-size: 25px;
} 
    .footer_contact_title{
   font-size: 35px;

}
    .footer_mesages_title{
        font-size: 35px;

}
}
@media (min-width:0px) and (max-width:700px){
    .heder_mini_text_title{

     font-size: 25px; 
        text-align: center;
}
.main_title{
    font-size: 25px;
}
    .main_text1{
           font-size: 15px;

} 
    .main_text2{
           font-size: 15px;

} 
    .main_text3{
           font-size: 15px;
        text-align: center;

}
    .main_end{
           font-size: 15px;
} 
    .footer_contact_title{
   font-size: 25px;

}
    .footer_mesages_title{
        font-size: 25px;

}
}

